/Locacore.TextComparer/bin/
/Locacore.TextComparer/obj/
/Locacore.TextComparer/.vs/
/.idea/.idea.Locacore.TextComparer.Git.dir/.idea/
/Locacore.TextComparer.Demo/bin/
/Locacore.TextComparer.Demo/obj/
/TextComparerUnitTests/bin/Debug/netcoreapp3.1/
/TextComparerUnitTests/obj/
